.icon_container {
    font-family: 'Lucida Console', 'Lucida Sans Regular', sans-serif;
    user-select: none;
    position: relative;
    width: 80px;
    text-align: center;
    font-size: 0.8rem;
    margin: 30px;

    &:active {
        &:before {
            position: absolute;
            content: '';
            left: 24px;
            width: 32px;
            height: 32px;
            background-color: rgb(0,0,255, 0.5);
        }

        .icon_text {
            border: 1px dashed gray;

            &:before {
                position: absolute;
                content: '';
                left: 1px;
                width: calc(100% - 2px);
                height: calc(100% - 42px);
                background-color: rgb(0,0,255, 0.5);
            }
        }
    }

    .icon_text {
        margin-top: 5px;
    }
}