body {
    background-image: url("../assets/star_bg.gif");
}

.white {
    color: white;
}

.large {
    font-size: 5rem;
}

#piss_christ {
    margin: 0 auto;
    font-family: helvetica, sans-serif;
    width: 60%;
}